/*
color palette
modal-content-bg-color: #fafaf8;
modal-content-font-color: black;
about-font-color: #46cebe;
*/

main {
    padding-top: 100px;
    padding-bottom: 60px;
}

#page-title {
    padding-right: 10px;
}
#about {
    color: #46cebe;
}
.modal-header {
    display: inline-block;
}
.modal-title {
    font-size: large;
}
.modal-body {
    display: flex;
    flex-direction: column;
}
.page-footer {
    text-align: center;
}
.navbar-brand {
    padding-left: 10px;
}
.modal-content {
    background-color: #fafaf8;
    color: black;
    margin: auto;
}
.modal-img {
    width: 60%;
    margin: 20%;
}

.logo {
    width: 80px;
}

@media all and (min-width: 450px) {
    .list-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    } 
    body {
        display: grid;
    }
    .modal-open {
        width: 100%;
        position:fixed
    }
    .modal-title {
        font-size: medium;
    }
}
@media all and (min-width: 300px) and (max-width: 450px) {
    .modal-title {
        font-size: small;
    }
}