/*
color palette
modal-content-bg-color: #fafaf8;
modal-content-font-color: black;
*/

main {
    padding-top: 100px;
    padding-bottom: 60px;
}

#page-title {
    font-family: 'pokemon solid', 'sans-serif';
    padding-right: 10px;
}

.modal-header {
    display: inline-block;
}

.modal-body {
    margin: auto;
}
.page-footer {
    text-align: center;
}
.navbar-brand {
    padding-left: 10px;
}
.modal-content {
    background-color: #fafaf8;
    color: black;
}
.modal-img {
    width: 100%;
}