/*
color palette
modal-content-bg-color: #fafaf8;
modal-content-font-color: black;
about-font-color: #46cebe;
*/

main {
    padding-top: 100px;
    padding-bottom: 60px;
}

#page-title {
    padding-right: 10px;
}

.modal-header {
    display: inline-block;
}

.modal-body {
    display: flex;
    flex-direction: column;
}
.page-footer {
    text-align: center;
}
.navbar-brand {
    padding-left: 10px;
}
.modal-content {
    background-color: #fafaf8;
    color: black;
    margin: auto;
}
.modal-img {
    width: 50%;
    margin: 20px 120px 80px;
}

.logo {
    width: 80px;
}

@media all and (min-width: 450px) {
    .list-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    } 
    body {
        display: grid;
    }
}